.body {
  margin: 120px 100px 0 100px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  border: 1px solid rgba(75, 0, 16, 0.5);
  border-radius: 8px;
  padding: 20px;
  /* height: 100vh; */
}
.heading {
  display: flex;
}

.hcontent1 {
  flex-basis: 0;
  flex-grow: 2;
}

.hcontent2 {
  flex-basis: 0;
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: rgb(97, 96, 96, 0.8);
}
.academic {
  display: flex;
  /* margin: 10px; */
  padding: 20px 20px 20px 0px;
  justify-content: space-between;
}

.academicdescription {
  width: 50%;
}
.academicdescription {
  width: 50%;
}

.academicyear {
  flex-basis: auto;
  font-weight: 500;
  font-size: 26px;
  color: #4b0010;
}
.academictext {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  padding-bottom: 8px;
  color: #4b0010;
}
.academicdescription {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: rgb(97, 96, 96, 0.8);
}

.academicendyear {
  flex-basis: auto;
  font-weight: 500;
  padding-right: 40px;
  font-size: 26px;
  display: flex;
  color: #4b0010;
}

.dash {
  flex-basis: auto;
  font-weight: 500;
  font-size: 26px;
  color: #4b0010;
}
