.body {
  margin: 100px 100px 0 100px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  /* height: 100vh; */
}
.box {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
  row-gap: 22px;
  column-gap: 32px;
  padding-top: 70px;
}
.box1 {
  /* height: 200px; */
  width: 300px;
  grid-row: span 2;
  border-radius: 12px;
}
.box2 {
  height: 200px;
  /* background-color: red; */
  grid-column: span 2;
  border-radius: 12px;
  position: relative;
}
.box3 {
  height: 200px;
  width: 300px;
  /* background-color: red; */
  border-radius: 12px;
  position: relative;
}
.box4 {
  /* height: 200px; */
  width: 300px;
  /* background-color: red; */
  grid-row: span 2;
  border-radius: 12px;
  position: relative;
}
.box5 {
  height: 200px;
  /* width: 300px; */
  /* background-color: red; */
  grid-column: span 2;
  border-radius: 12px;
  position: relative;

  /* grid-row: span 2; */
}
.box6 {
  height: 200px;
  width: 300px;
  /* background-color: red; */
  border-radius: 12px;
  position: relative;

  /* grid-area: 1/3/3/3; */
}
.box7 {
  height: 200px;
  width: 300px;
  border-radius: 12px;
  position: relative;

  /* background-color: red; */
}
.box8 {
  height: 200px;
  width: 300px;
  /* background-color: red; */
  border-radius: 12px;
  position: relative;
}
.box9 {
  height: 200px;
  width: 300px;
  /* background-color: red; */
}

.img {
  overflow: hidden;
  border-radius: 15px;
}
.imgheight {
  height: 80%;
  position: relative;
  margin: 0 10px 0 10px;
}
