.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.semicircle {
  width: 100px; /* Adjust size */
  height: 50px; /* Half of width to create semi-circle */
  background-color: blue; /* Change color as needed */
  border-top-left-radius: 100px; /* Large radius to create curve */
  border-top-right-radius: 100px;
  position: fixed;
  top: 0;
  right: 0;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.flexcontainer {
  display: flex;
  flex-direction: column;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .flexcontainer {
    display: grid;
    /* Force wrapping */ /* Limit height to force wrapping */
  }
}
.item {
  background-color: lightblue;
  padding: 10px;
  width: 200px;
  border: 1px solid black;
  grid-column: 1 / span 2; /* Starts at column 1 and spans 2 columns */
  grid-row: 1 / 3; /* Starts at row 1 and spans 2 rows */
}

@media (max-width: 700px) {
  .semicirclecurve {
    width: 35%;
    height: 20vh;
    position: absolute;
  }
  .curve {
    top: 30px;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    left: -50px;
  }
}

@media (min-width: 701px) and (max-width: 1023px) {
  .semicirclecurve {
    width: 50%;
    height: 50vh;
    position: absolute;
  }
  .curve {
    position: relative;
    top: 50px;
    height: 400px;
    width: 450px;
    background-color: white;
    border-radius: 50%;
  }
}

@media (min-width: 1024px) {
  .semicirclecurve {
    width: 45%;
    height: 80vh;
    position: absolute;

    /* position: absolute; */
  }
  .curve {
    position: relative;
    top: 50px;
    height: 500px;
    width: 550px;
    background-color: black;
    border-radius: 50%;
    right: 200px;
  }
}
