@media (max-width: 480px) {
  .body {
    margin: 100px 0px 0px 0px;
  }
  .vline {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 4px 4px 30px 4px;
  }
}

@media ((min-width: 481px) and (max-width : 1023px)) {
  .body {
    margin: 100px 0px 100px 0px;
  }
  .vline {
    display: none;
  }
  .content {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .body {
    margin: 100px 100px 100px 100px;
  }
  .vline {
    flex: 1;
    background-color: "red";
  }
  .content {
    display: flex;
  }
}
.horizantaldivider {
  height: 2%;
  flex: 1;
  border: 1px solid rgba(75, 0, 16, 0.5);
}

@keyframes expandWidth {
  to {
    width: 100%;
  }
}
@keyframes expandWidth1 {
  to {
    width: 95%;
  }
}
@keyframes expandWidth2 {
  to {
    width: 70%;
  }
}
@keyframes expandWidth3 {
  to {
    width: 60%;
  }
}
@keyframes expandWidth4 {
  to {
    width: 98%;
  }
}
@keyframes expandWidth5 {
  to {
    width: 70%;
  }
}
@keyframes expandWidth6 {
  to {
    width: 98%;
  }
}
@keyframes expandWidth7 {
  to {
    width: 98%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes percfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  animation: hidetext 1s ease-in;
}
.perecentext {
  animation: percfadeIn 5s ease-in;
}

.box {
  height: 50px;
  width: 0px;
  margin: 8px;
  border-radius: 20px;
}

.firstanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth 1s forwards, fadeIn 1s ease forwards;
}

.secondanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth1 1s forwards, fadeIn 1s ease forwards;
}
.thirdanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth2 1s forwards, fadeIn 1s ease forwards;
}
.fourthanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth3 1s forwards, fadeIn 1s ease forwards;
}
.fifthanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth4 1s forwards, fadeIn 1s ease forwards;
}
.sixthanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth5 1s forwards, fadeIn 1s ease forwards;
}
.seventhanimation {
  background-color: rgb(128, 128, 128, 0.5);
  animation: expandWidth6 1s forwards, fadeIn 1s ease forwards;
}
