@media (max-width: 480px) {
  .body {
    margin: 100px 0px 0 0px;
  }
  .containercard {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .whitecard {
    height: 200px;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .body {
    margin: 100px 0px 0 0px;
    /* height: 100vh; */
  }
  .containercard {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .body {
    margin: 100px 100px 0 100px;
    /* height
    : 100vh; */
  }
  .containercard {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
}
.containercard {
  display: flex;
  flex-direction: column;
  min-width: 35%;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.horizantaldivider {
  height: 3px;
  width: 100%;
  background-color: rgba(75, 0, 16, 0.5);
}
.leftcard {
  padding-right: 20px;
  /* height: 170px; */
}
.rightcard {
  padding-left: 0px;
}
.card {
  /* padding: 30px; */
  padding: 10px;
  /* margin: 10px; */
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  flex-direction: column; /* Arrange containers vertically */
}
.whitecard {
  height: 200px;
  box-shadow: none;
  background-color: white;

  /* margin-top: 10px; */
}
.boxshadowcard {
  box-shadow: 1px -6px rgba(75, 0, 16, 0.5);
}

.firstcard {
  /* height: 170px; */
  min-height: 200px;

  /* margin-top: 10px; */
}

.secondcard {
  min-height: 170px;

  /* margin-left: 60px;
  padding: 30px; */
}

.divider {
  width: 2px;
  border: 2px solid rgba(75, 0, 16, 0.3);
  height: 600px;
  margin: 0 25px 0 25px;

  /* margin-left: 60px; */
  position: relative;
}
.dividercontainer {
  /* width: 100px; */
  /* width: 20px; */
  min-height: 200px;
  top: 0;
  width: 200px;
  position: relative;
  left: -25px;
  /* right: 52px; */
}

.circle {
  width: 50px; /* Match the image size */
  height: 50px; /* Match the image size */
  border-radius: 50%;
  overflow: hidden; /* Ensures the image does not overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(75, 0, 16, 0.1);
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the circle properly */
  border-radius: 50%;
}

.cardHeading {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.cardcollegeName {
  font-size: 14px;
  font-weight: 550;
  padding-bottom: 10px;
  color: #4b0010;
}
.cardcollegeLocation {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 6px;
}
